<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Use iisnode module for executing node.js app -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- First, check if the request matches a physical file inside frontend build folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="([\S]+)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{APPL_PHYSICAL_PATH}frontend\dist\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="frontend/dist/{R:1}" />
        </rule>

        <!-- Redirect all other API and SPA requests to Node.js backend controller -->
        <rule name="DynamicContent">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
